body {
  font-size: 24px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  body a {
    text-decoration: none;
    color: black; }
    body a :hover {
      color: #256c8a; }

#main {
  max-width: 40%;
  min-width: 400px;
  margin: 0 auto; }

/**
*---------------------- Search Bar ----------------------
*/
#search-bar {
  display: flex;
  margin-top: 10%;
  height: 35px;
  justify-content: space-between; }
  #search-bar input[type="text"] {
    height: 100%;
    font-size: 28px;
    flex-grow: 4;
    font-weight: 300;
    padding: 4px 0;
    border: none;
    border-bottom: solid 1px #908c8c;
    color: #908c8c;
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  #search-bar button {
    display: inline-block;
    width: 15%;
    font-size: 24px;
    height: 100%;
    font-weight: 300;
    margin-left: 5px;
    background-color: #a5c8e0;
    border: 1px solid;
    border-radius: 5px;
    color: #256c8a;
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

::-webkit-input-placeholder {
  color: #908c8c; }

:-moz-placeholder {
  /* Firefox 18- */
  color: #908c8c; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: #908c8c; }

:-ms-input-placeholder {
  color: #908c8c; }

/**
*---------------------- Search Results ----------------------
*/
#user-list {
  list-style-type: none;
  width: 80%;
  padding: 0;
  margin: 5% auto;
  font-size: 80%; }
  #user-list .user {
    display: flex;
    border: solid 1px #908c8c;
    border-radius: 5px;
    padding: 5px;
    height: 75px; }
    #user-list .user img {
      flex: 0 0 75px;
      float: left;
      border-radius: 5px;
      height: 75px;
      width: 75px; }
    #user-list .user .user-aliases {
      flex-grow: 4;
      padding: 0 5px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
      #user-list .user .user-aliases .login {
        font-size: 130%; }
      #user-list .user .user-aliases .name {
        opacity: 0.6; }
    #user-list .user .user-stats {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      max-width: 80px; }
      #user-list .user .user-stats .mega-octicon {
        font-size: 100%; }
      #user-list .user .user-stats div {
        text-align: center; }
